body {
  background: url('https://i.imgur.com/OSpYuZx.png?1')no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbarTitle {
  width: 70px;
}
.titleContainer {
  background-color: #EAEA1B;
  padding: 5px 9px;
  box-shadow: rgba(0,0,0,0.3) 3px 3px 7px 0px;
}
.loggedOutContainer {
  display:flex;

}
.navRight {
  background-color: #434242;
  padding: 20px 12px;
  font-size: 1.3rem;
  box-shadow: rgba(0,0,0,0.4) 3px 3px 7px 0px;
}
a.navRightHover:hover {
  color: rgb(105, 246, 110) !important;
}
a.navRightLogOut:hover {
  color: rgb(253, 74, 43) !important;
}
.underline {
  border-bottom: 1px solid rgb(105, 246, 110);
}
img{
  max-width: 100%;
  height: auto;
}
.restaurantContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 45px 50px;
  box-shadow: rgba(0,0,0,0.3) 3px 3px 7px 0px;
  background-color: white;
  padding: 15px 5px;
}
.addBtn {
  color: red;
  border-radius: 100px;
}
.back {
  color: #454545
}
.searchIcon {
  background-color: #EAEA1B;
}
.searchContainer {
  background-color: white;
  padding: 5px 9px;
  margin: 0 30vw;
  box-shadow: rgba(0,0,0,0.3) 3px 3px 7px 0px;
}
.cityContainer {
  border-left: 1px solid black;
}
button.searchBtn {
  border: none;
  background-color: #EAEA1B;
  margin-right: 0;
}
.headerImg {
  width: 65vw;
  padding: 60px 0 20px 0;
}
.findClass {
  margin-left: 5px;
}
input{
  max-width: 100%;
  height: auto;
}
.restaurantNameContainer {

}

@media only screen and (max-width: 420px) {
  .navRight {
    background-color: #434242;
    padding: 20px 7px;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 340px) {
  .navRight {
    background-color: #434242;
    padding: 20px 5px;
    font-size: .8rem;
  }
}
