body {
  background: url('https://i.imgur.com/OSpYuZx.png?1')no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-family: 'Rubik', sans-serif;
}
.navbarTitle {
  width: 70px;
}
.titleContainer {
  background-color: #EAEA1B;
  padding: 5px 9px;
  box-shadow: rgba(0,0,0,0.3) 3px 3px 7px 0px;
}
.loggedOutContainer {
  display:flex;

}
.navRight {
  background-color: #434242;
  padding: 20px 12px;
  font-size: 1.3rem;
  box-shadow: rgba(0,0,0,0.4) 3px 3px 7px 0px;
}
a.navRightHover:hover {
  color: rgb(105, 246, 110) !important;
}
a.navRightLogOut:hover {
  color: rgb(253, 74, 43) !important;
}
.underline {
  border-bottom: 1px solid rgb(105, 246, 110);
}
img{
  max-width: 100%;
  height: auto;
}
.restaurantContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 45px 50px;
  box-shadow: rgba(0,0,0,0.3) 3px 3px 7px 0px;
  background-color: white;
  padding: 15px 5px;
}
.addBtn {
  color: red;
  border-radius: 100px;
}
.back {
  color: #454545
}
.searchIcon {
  background-color: #EAEA1B;
}
.searchContainer {
  background-color: white;
  margin: 0 30vw;
  padding-left: 10px;
  box-shadow: rgba(0,0,0,0.3) 3px 3px 7px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
button.searchBtn {
  border: none;
  background-color: #EAEA1B;
  padding: 10px 10px;
  margin: 0;
}
.headerImg {
  width: 65vw;
  padding: 60px 0 20px 0;
}
.searchLabel {
  padding-right: 5px;
}
.fitSearchContainer {
  max-width: 100%;
  height: auto;
}
input{
  max-width: 100%;
  height: auto;
}
label{
  margin-left: 4px;
}
.restaurantNameContainer {
  font-family: 'Rubik', sans-serif;
  color: black;
}
.mapContainer {
  text-decoration: none;
  background-color: white;
  margin: 10px;
  box-shadow: rgba(0,0,0,0.3) 3px 3px 7px 0px;
}
  .restaurantImg {
    border: 1px solid rgba(134, 133, 133, 0.63);
  }
.favoriteRestaurantContainer {
  background-color: white;
  margin: 5px 30vw;
  padding: 10px;
  box-shadow: rgba(0,0,0,0.3) 3px 3px 7px 0px;
  flex-wrap: wrap;
}
.showPageLinks {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 90%;
}


@media only screen and (max-width: 1100px) {
  .searchContainer {
    margin: 0 14vw;
    flex-direction: row;
    width: 70vw;
  }
}


@media only screen and (max-width: 770px) {
  .navRight {
    background-color: #434242;
    padding: 20px 7px;
    font-size: 1rem;
  }
  .searchContainer {
    margin: 0 14vw;
    flex-direction: row;
    width: 70vw;
  }
  .fitSearchContainer {
    display: flex;
    flex-direction: row;
    max-width: 30vw;
  }
  .searchLabel {
    font-size: 1.2rem;
    margin: 0;
  }
  input{
    max-width: 100%;
    height: auto;
  }
  
}

@media only screen and (max-width: 380px) {
  .navRight {
    background-color: #434242;
    padding: 20px 5px;
    font-size: .8rem;
  }
  .headerImg {
    width: 95vw;
    padding: 45px 0 20px 0;
  }
  .searchContainer {
    margin: 0 5vw;
    padding-left: 10px;
    flex-direction: row;
    width: 90vw;
  }
  button.searchBtn {
    padding: 10px 10px;
    margin: 0;
  }
  .searchLabel {
    font-size: 1.2rem;
    margin: 0;
  }
  input{
    max-width: 100%;
    height: auto;
  }
  .fitSearchContainer {
    display: flex;
    flex-direction: row;
    max-width: 30vw;
  }
}
